.header {
  width: 100%;
  height: 5rem;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.header .logo {
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #000;
  margin: 0;
  padding: 1rem;
}
.header .logo span {
  color: var(--logoBlue);
  margin-right: 0.5rem;
  font-size: 2rem;
}
.header button {
  padding: 0.5rem 0.5rem;
}
