@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  --logoBlue: rgb(35, 88, 235);
  --buttonBlue: rgb(35, 82, 235);
  --buttonBlueHover: rgb(18, 1, 252);
  --black: rgb(14, 13, 13);
  --gray: rgb(255, 255, 255, 0.5);
  --white: #fff;
  --cartOrange: #8a2b06;
  /* font-size: 20px; */
}
@media (max-width: 1280px) {
  * {
    font-size: 70%;
  }
}

@media (max-width: 1024px) {
  * {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  * {
    font-size: 35%;
  }
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
  text-transform: capitalize;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.Button {
  cursor: pointer;
  font: inherit;
  width: auto;
  background-color: var(--buttonBlue);
  text-align: center;
  color: white;
  padding: 0.75rem 3rem;
  border-radius: 0.7rem;
  font-weight: bold;
}
.Button:hover {
  background-color: var(--buttonBlueHover);
}
